<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Header>
        <h2>Register page</h2>
    </Header>
    <main>
        <label>Register
        <form action="/users/register" method="post">
                <input type="text" name="name" placeholder="Your Name">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Your password" > 
                <input type="number" name="age" placeholder="Age">
                <input type="number" name="phone" placeholder="your Phone Number">
                <input type="submit" value="submit" >
            </form>
        </label>
    </main>
</body>
</html>